/* Overall Text */
html,
body {
  margin: 0;
  height: 100%
}

h3, p {
  font-family: 'Space Mono', monospace;
  margin: 0;
  padding: 0;
  font-size: 12px;
}

h3 {
  font-size: 16px; 
  letter-spacing: .075em; /* Adjust as needed */
  margin-bottom: 10px;
  visibility: hidden;
}

h1 {
  font-family: 'Darker Grotesque', sans-serif;
/*   margin: auto; */
  font-size: 8vw;
  font-weight: 300;
  padding: 10px;
}

/* Overall Links */

a {
  font-family: 'Space Mono', monospace;
  color: white;
  text-decoration: none;
  font-size: 12px;
  color: #777;
}

a:hover {
  color: #fff;
  text-decoration: none;
}
a.active {
  color: #fff;
  text-decoration: none;
}

/* Left hand nav */

header {
  position: fixed;
  left: 20px;
}

.anchor-nav {
  display:flex;
  flex-direction: column;
  height: 100vh;
}

.anchor-nav a {
  flex-grow: 1;
  display:flex; 
  align-items:center;
  border-bottom:1px solid #777;
}

.anchor-nav a:last-child {
  border-bottom:none;
}


/* Prev/Next Buttons */

.local-nav .js-prev {
  position: fixed;
  left: 50vw;
  top: 2vh;
  align-items: center;
}

.local-nav .js-next {
  position: fixed;
  left: 50vw;
  top: 70vh;
  align-items: center;
}

.js-prev, .js-next {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.fa {
  animation: MoveUpDown 2s linear infinite;
}

@keyframes MoveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}


/* CONTENT SECTIONS */

section {
  display: flex;
/*   justify-content: center; */
  align-items: center;
  text-align: center;
  color: #EFEFEF;
  flex-direction: column;
}

.hero {
	height:100vh;
  background-color: #000;
  background-image: url('https://cdn.glitch.com/184b84fb-a7f7-49b2-80dc-92d99190253f%2Ftrip_to_moon2.png?v=1618600063652');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.white {
	background-color: #fff;
}

.black {
 background-color: #000;
 padding-top: 10vh;
 padding-bottom: 10vh;
}

#section-1, #section-3 {
  padding-bottom: 90vh;
}

.box {
  margin-left: 10vw;
  width: 60vw;
  padding-left: 100px;
  text-align: left;
}

.box .data {
  width: 60vw;
}

.box p {
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 24px;
}

img {
  margin-top: 10px;
  margin-bottom: 10px;
}

.typewriter {
  visibility: visible;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 60vw }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}